{% extends "base/base.html" %} {% load static%} 
{% block title %}About Us{% endblock %} {% block start %}

<style>
  .para-text {
    line-height: 2rem;
    text-align: justify;
  }
</style>

<section class="section-content padding-y">
  <div class="container-xl d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>About Us</h2>
            <p class="para-text">
              Selamat datang di Queen Bucket!

Kami adalah toko fashion yang berdedikasi menyediakan sepatu dan pakaian bergaya dengan kualitas terbaik dan harga terjangkau. Sejak awal berdiri, Queen Bucket memiliki misi untuk menjadi brand lokal yang membawa kepercayaan diri dan gaya bagi setiap langkah kamu.

<br>
1. Produk Berkualitas: Kami hanya menyediakan sepatu dan pakaian yang sudah melalui proses seleksi dan quality control.
<br>
2. Harga Terjangkau: Fashion keren gak harus mahal. Kami ingin semua orang bisa tampil stylish tanpa menguras kantong.
<br>
3. Layanan Pelanggan Ramah: Kami hadir buat bantu kamu kapan saja! Karena kepuasan pelanggan adalah prioritas kami.
<br>
4. Pengiriman ke Seluruh Indonesia: Dimanapun kamu berada, Queen Bucket akan sampai ke depan pintu rumahmu.
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
