{% extends "base/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block start %}

<style>
  .para-text {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    padding-bottom: 30px;
    text-align: justify;
  }
</style>

<section class="section-content padding-bottom">
  <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
    <div class="container my-5">
      <h2 class="text-center mb-4">Privacy Policy</h2>

      <div class="card p-4">
        <h4 class="text-left mb-2">1. Introduction</h4>
        <p class="para-text">
          We value your privacy and are committed to protecting your personal
          information. This privacy policy outlines the types of information we
          collect and how we use, disclose, and protect that information..
        </p>

        <h4 class="text-left mb-2">2. Information We Collect</h4>
        <p class="para-text">
          Kami mengumpulkan informasi pribadi yang Anda berikan saat mendaftar
        </p>

        <h4 class="text-left mb-2">3. Third-Party Integration</h4>
        <p class="para-text">
        Kami menggunakan layanan pihak ketiga untuk membantu kami dalam menyediakan layanan kami, seperti penyedia pembayaran dan pengiriman. Kami memastikan bahwa penyedia ini mematuhi standar keamanan dan privasi yang sesuai.
        </p>

        <h4 class="text-left mb-2">4. Sharing Your Information</h4>
        <p class="para-text">
          Kami tidak akan menjual, menyewakan, atau membagikan informasi pribadi Anda kepada pihak ketiga tanpa persetujuan Anda, kecuali jika diwajibkan oleh hukum atau untuk melindungi hak kami.
        </p>

        <h4 class="text-left mb-2">Contact Us</h4>
        <p class="para-text">
          Jika Anda memiliki pertanyaan atau kekhawatiran tentang kebijakan privasi ini, silakan hubungi kami melalui formulir kontak di situs web kami atau melalui email di
        </p>

        <!-- Add more sections as needed -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
