{% extends "base/base.html" %} 
{% block title %}Terms and Conditions{% endblock %}
{% load static %} {% block start %}

<style>
    .para-text{
        font-size: 20px;
        font-family: "Gill Sans", sans-serif;
        padding-bottom: 30px;
        text-align: justify;
    }
</style>

<section class="section-content padding-bottom">
    <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
        <div class="container my-5">
            <h2 class="text-center mb-4">Terms and Conditions</h2>
            
            <div class="card p-4">
                <h4 class="text-left mb-2">1. Perkenalan</h4>
                <p class="para-text">
                Kami sangat senang Anda mengunjungi situs web kami. Syarat dan ketentuan ini mengatur penggunaan situs web ini. Dengan mengakses situs web ini, Anda setuju untuk terikat oleh syarat dan ketentuan ini. Jika Anda tidak setuju dengan syarat dan ketentuan ini, harap jangan gunakan situs web ini.
                </p>

                <h4 class="text-left mb-2">2. Cookie</h4>
                <p class="para-text">
                Kami menggunakan cookies untuk meningkatkan pengalaman Anda di situs web kami. Dengan menggunakan situs web ini, Anda setuju untuk menerima penggunaan cookies sesuai dengan kebijakan privasi kami. Cookies adalah file kecil yang disimpan di perangkat Anda yang membantu kami memberikan layanan yang lebih baik.
                </p>

                <h4 class="text-left mb-2">3. Lisensi</h4>
                <p class="para-text">
                Kecuali dinyatakan lain, kami atau pemberi lisensi kami memiliki hak kekayaan intelektual atas materi di situs web ini. Anda hanya dapat mengakses materi ini untuk penggunaan pribadi Anda sendiri, tunduk pada batasan yang ditetapkan dalam syarat dan ketentuan ini.
                </p>

                <h4 class="text-left mb-2">4. Pengalaman Pengguna</h4>
                <p class="para-text">
                Segala komentar yang Anda kirimkan ke situs web ini harus sesuai dengan hukum dan tidak melanggar hak pihak ketiga. Kami berhak untuk menghapus komentar yang dianggap tidak pantas atau melanggar syarat dan ketentuan ini.
                </p>

                <!-- Add more sections as needed -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
